---
import { portfolio, neon } from "../Solutions/Constantes"
import { Image } from "astro:assets"
import Avatar from "./Avatar.astro"
const estilosIframe = neon.concat("overflow: hidden;pointer-events:none;")
---
<section class="min-h-screen justify-center">
    <section class="flex justify-center pt-32 pb-10 gap-5">
        <section class="my-auto">
            <h1 class="text-4xl">Portfolio</h1>
        </section>
        <section class="my-auto">
            <Avatar size="w-20 h-20"/>
        </section>
    </section>
    <section class="flex flex-wrap w-2/3 justify-center m-auto mb-10 max-lg:w-auto">
        {
            portfolio.map( (web) => {
                return(
                    <section class="mx-auto w-1/2 p-10 max-lg:w-auto hover:scale-110 transition-all">
                        <Image
                            src={web.imagen}
                            class="rounded-lg"
                            style={neon}
                            alt=`Home de ${web.nombre}` 
                            width="814" 
                            height="413" 
                            loading="eager"
                            decoding="async" />
                        <a href={web.url} target="_blank">
                            <h1 class="text-xl" style={neon}>
                                <strong>{web.nombre}</strong>
                            </h1>
                        </a>
                        <p>{web.descripcion}</p>
                    </section>
                )
            })
        }
    </section>   
</section>